[Desktop Entry]
Type=Application
Name=Movian (GameMode)
GenericName=Media Player
Comment=Fullscreen Movian launcher for Steam Deck Gaming Mode
Exec=showtime --fullscreen %U
Icon=dev.uzver.Movian
Terminal=false
Categories=AudioVideo;Player;
StartupWMClass=showtime
MimeType=application/ogg;application/x-matroska;audio/mp4;audio/mpeg;audio/ogg;audio/x-flac;audio/x-matroska;video/mp4;video/mpeg;video/ogg;video/quicktime;video/webm;video/x-matroska;
